# Tokens e Chaves
TELEGRAM_TOKEN=coloque...qui
TELEGRAM_CHAT_ID=coloque_seu_chat_id_aqui

# Configuração do site alvo
URL_ALVO=https://site-de-concursos.com.br
TERMO_BUSCA=Perícia Criminal

# Futuro: banco de dados
DATABASE_URL=sqlite:///assinantes.db
